body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(pink, red);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border: 5px solid #1b086e;
  border-radius: 5px;
  background-image: linear-gradient(yellow, red);
}

h1 {
  text-align: center;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.option {
  padding: 10px;
  border: 1px solid #1c0331;
  border-radius: 3px;
  cursor: pointer;
}

.option:hover {
  background-color: #8a5fad;
}

.result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #e0091b;
}

